<footer class="site-footer pa4 bt b--transparent" role="contentinfo">
  <nav class="db dt-l w-100">
    <p class="site-copyright f7 db dtc-l v-mid w-100 w-33-l tc tl-l pv2 pv0-l mv0">{{ if ne .Site.Copyright "" }}{{ .Site.Copyright | safeHTML }}{{ else }}&copy; {{ now.Format "2006"}}{{ if .Site.Params.orgName }} {{ .Site.Params.orgName }}{{ end }}{{ if .Site.Params.orgLocal }}, {{ .Site.Params.orgLocal }}{{ end }}{{ end }}</p>
    {{ if .Site.Params.socialInFooter }}
    <div class="site-social-links db dtc-l v-mid w-100 w-33-l tc pv2 pv0-l mv0">
      {{ partial "shared/social-links.html" . }}
    </div>
    {{ end }}
    <div class="site-links f6 db dtc-l v-mid w-100 w-67-l tc tr-l pv2 pv0-l mv0">
      {{ range $.Site.Data.navigation.footer }}
      <a class="dib pv1 ph2 link" href="{{ .url }}" title="{{ .title }}">{{ .name }}</a>
      {{ end }}
    </div>
  </nav>
</footer>
